.card_container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;    
    gap: 50px;
}

.card_container {
    background: orangered;
}

.card h1 {
    font-size: 24px;
    color: orangered;
    font-weight: 700;
}

.card p {
    margin-top: 20px;
    font-size: 19px;
    color: dimgray;
}

.card {
    background-color: #fff;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin: 16px;
    transition: transform 0.2s ease-in-out;
    width: 50%;
}

