.solution {
    display: flex;
    align-items: center;
}

.solution-container {
    display: flex;
    gap: 10px;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #c9c7c7;
    width: 100%;           /* Adicionado */
}

.card-item > img {
    width: 400px;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card-item {
    padding: 10px;
    text-align: center;
    background-color: #dddbdb;
    border: solid 1px #e0e0e0;
    flex: 1 1 0;           /* Adicionado */
    min-width: 0;          /* Para evitar overflow */
}